html, body {
  background-color: rgb(4, 206, 206);
}

.container-register {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 50px 20px 50px;
  background-color: whitesmoke;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 4px;
}

.btn-register {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}